@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&family=Geo:ital@1&family=Julius+Sans+One&family=Orbitron&family=Oswald&family=Six+Caps&family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/*
font-family: 'Alumni Sans', sans-serif;
font-family: 'Geo', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Six Caps', sans-serif;
font-family: 'Wire One', sans-serif;
*/

:root {
    font-size: 16px;
    --primary-dark: #1F1F1F;
    --secondary-dark: #0A0A0A;
    --primary-light: #F1F1F1;
    --secondary-light: #8a8a8a;
    --primary-blue: #2892D7;
    --transition-speed: 600ms;
}

body {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--primary-dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--primary-dark);
    transition: width 200ms ease;
    font-weight: 100;
    transition: 600ms;
    font-family: 'Orbitron', sans-serif;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-link {
    color:var(--primary-blue);
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    transition: var(--transition-speed);
    filter: grayscale(100%) opacity(0.7);

}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--secondary-dark);
}

.link-text {
    color: var(--primary-light);
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    font-size: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
    filter: opacity(1);
}

.navbar:hover .link-text {
    display: block;
}


@media only screen and (max-width: 700px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        filter: opacity(1);
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .navbar:hover {
        width: 100vw;
    }
   
    .navbar:hover .link-text {
        display: none;
    }
}